package template

templ PlaylistItems() {
	<ul class="flex flex-col pt-3">
		<li
			class="h-[3.2rem] pt-1 pb-1 pr-3 mr-2 ml-3 flex flex-row text-[1.75rem] text-left cursor-pointer text-white"
		>
			<div class="w-[4.5rem] flex justify-center">
				<p class="">1</p>
			</div>
			<img
				src=""
				alt="playlist item"
				width="70"
				height="36"
				class="ml-6 mr-2"
			/>
			<p class="pl-7 w-[67rem] truncate">Test Song Title</p>
		</li>
	</ul>
}
