{{ block "playlist-item" . }}
<li
  id="li-{{ .Id }}"
  key="{{ .Id }}"
  class="h-[3.2rem] pt-1 pb-1 pr-3 mr-2 ml-3 flex flex-row text-[1.75rem] text-left cursor-pointer text-white  {{ if .Selected }} bg-warm-orange {{ end }} hover:bg-warm-orange-hover"
>
  <div class="w-[4.5rem] flex justify-center">
    <p>{{ .ItemNumber }}</p>
  </div>
  <img
    src="{{ .ThumbnailUrl }}"
    alt="playlist item"
    width="70"
    height="36"
    class="ml-6 mr-2"
  />
  <p class="pl-7 w-[67rem] truncate">{{ .Title }}</p>
</li>
<div
  hx-target="#playlist-items"
  hx-get="/highlight-selected-playlist-item/{{ .Id }}"
  hx-trigger="click from:#li-{{ .Id }}"
  hx-swap="outerHTML"
></div>
<div
  hx-target="#youtube-embed"
  hx-get="/play-selected-playlist-item/{{ .Id }}"
  hx-trigger="click from:#li-{{ .Id }}"
  hx-swap="outerHTML"
></div>
{{ end }}
