@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark-blue: #011F4B;
  --container-dark-blue: #03396C;
  --container-light-blue: #005B96;
  --highlight-blue: #B3CDE0;
  --accent-black: #000000;
  --bright-white: #FFFFFF;
}

body {
  background: var(--background-dark-blue);
}