@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark-blue: #011F4B;
}

@layer components {
  .text-shadow-black {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .text-shadow-white {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }

  .translate-center {
    transform: translate(-50%, -50%);
  }

  .modal-backdrop {
    opacity: 0.3 !important
  }
}

body {
  background: var(--background-dark-blue);
}