@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark-blue: #011f4b;
}

@layer components {
  .text-shadow-none {
    text-shadow: none;
  }

  .text-shadow-black {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .text-shadow-black-thick {
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  }

  .text-shadow-white {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }

  .translate-center {
    transform: translate(-50%, -50%);
  }

  .modal-backdrop {
    opacity: 0.3 !important;
  }
}

body {
  background: var(--background-dark-blue);
}
