<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Better Youtube Playlists</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/tailwind-config.js"></script>
  </head>
  <body class="w-screen h-screen bg-background-dark-blue">
    <div class="w-full h-full">
      <div
        class="grid grid-rows-[1fr,0.2fr,1.8fr] grid-cols-[0.45fr,1.1fr,1.35fr] gap-3 h-full w-full p-3 flex"
      >
        <!-- playlist list -->
        {{ template "playlist-list" .PlaylistState }}
        <!-- youtube embed -->
        <div
          class="bg-container-dark-blue border-4 relative rounded-lg col-span-1 row-span-2 pt-2 pr-2 pl-2 pb-2 min-w-[32.5rem]"
        >
          <div class="w-full h-full bg-black grid place-items-center relative">
            <img
              src="/static/assets/logos/jackematica-logo.svg"
              alt="page-logo"
              width="210"
              height="210"
            />
          </div>
        </div>
        {{ template "playlist-description" index .PlaylistState 0 }}
        <!-- playlist operations -->
        <div
          class="bg-container-dark-blue border-4 relative rounded-lg col-start-3 col-span-1 row-span-1 pt-2 pb-2 pl-6 flex-auto"
        >
          <div class="flex flex-row">
            <button
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer"
            >
              <img
                src="/static/assets/icons/previous.png"
                alt="previous"
                width="42"
                height="42"
              />
            </button>
            <button
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer ml-5"
            >
              <img
                src="/static/assets/icons/next.png"
                alt="next"
                width="42"
                height="42"
              />
            </button>
            <button
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer ml-5"
            >
              <img
                src="/static/assets/icons/shuffle-bold.png"
                alt="shuffle"
                width="50"
                height="50"
              />
            </button>
            <button
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer ml-5"
            >
              <img
                src="/static/assets/icons/loop-bold.png"
                alt="loop"
                width="55"
                height="55"
              />
            </button>
          </div>
        </div>
        <!-- playlist items -->
        <div
          class="bg-container-dark-blue border-4 relative rounded-lg row-start-3 col-start-2 col-span-2 row-span-1 flex-auto overflow-y-scroll"
        >
          <ul class="flex flex-col pt-3">
            <li
              class="h-[3.2rem] pt-1 pb-1 pr-3 mr-2 ml-3 flex flex-row text-[1.75rem] text-left cursor-pointer text-white"
            >
              <div class="w-[4.5rem] flex justify-center">
                <p class="">1</p>
              </div>
              <img
                src=""
                alt="playlist item"
                width="70"
                height="36"
                class="ml-6 mr-2"
              />
              <p class="pl-7 w-[67rem] truncate">Test Song Title</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{ template "add-playlist-modal" .ModalState }}
    <script src="/static/js/htmx.min.js"></script>
  </body>
</html>
