<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Better Youtube Playlists</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/external/tailwind-config.js"></script>
  </head>
  <body class="w-screen h-screen bg-background-dark-blue">
    <div class="w-full h-full">
      <div
        class="grid grid-rows-[1fr,0.2fr,1.8fr] grid-cols-[0.45fr,1.1fr,1.35fr] gap-3 h-full w-full p-3 flex"
      >
        <!-- playlist-list -->
        <div
          id="playlist-list"
          class="bg-container-dark-blue min-w-[16rem] border-4 relative rounded-lg col-span-1 row-span-3 flex-none"
        >
          <h2 class="text-white text-4xl pl-5 pt-5 pb-5 inline-block truncate">
            Playlists
          </h2>
          <ul id="playlist-list-items" class="pl-3 flex flex-col"></ul>
          <button
            class="absolute bottom-3 left-1/2 transform -translate-x-1/2 w-[14.75rem] h-11 rounded-lg border-2 flex bg-warm-orange hover:bg-warm-orange-hover"
          >
            <div
              class="w-10 h-10 bg-white rounded-lg border-2 flex items-center justify-center"
            >
              <img
                src="/static/assets/icons/plus.png"
                alt="add playlist"
                width="24"
                height="24"
              />
            </div>
            <div
              id="open-add-playlist-modal-btn"
              class="text-white text-3xl font-semibold pl-3 pt-0.5"
            >
              Add Playlist
            </div>
          </button>
        </div>
        <!-- youtube-embed -->
        <div
          id="youtube-embed"
          class="bg-container-dark-blue border-4 relative rounded-lg col-span-1 row-span-2 pt-2 pr-2 pl-2 pb-2 min-w-[32.5rem]"
        >
          <div
            id="video-container"
            title="YouTube video"
            class="w-full h-full bg-black grid place-items-center relative"
          >
            <img
              src="/static/assets/logos/jackematica-logo.svg"
              alt="page-logo"
              width="210"
              height="210"
            />
          </div>
        </div>
        <!-- playlist description -->
        <div
          id="playlist-description"
          class="flex-initial bg-container-dark-blue border-4 relative rounded-lg col-start-3 col-span-1 row-span-1 flex-auto"
        >
          <h2
            id="playlist-title"
            class="h-[4rem] text-white text-5xl font-bold mt-4 ml-5 truncate"
          >
            No Playlist Selected
          </h2>
          <p
            id="channel-owner"
            class="text-white text-4xl font-semibold mt-8 ml-5"
          ></p>
          <p
            id="total-videos"
            class="text-white text-4xl font-semibold mt-12 ml-5"
          ></p>
        </div>
        <!-- playlist operations -->
        <div
          class="bg-container-dark-blue border-4 relative rounded-lg col-start-3 col-span-1 row-span-1 pt-2 pb-2 pl-6 flex-auto"
        >
          <div id="playlist-operations" class="flex flex-row invisible">
            <button
              id="previous"
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer hover:bg-outline-gray select-none"
            >
              <img
                src="/static/assets/icons/previous.png"
                alt="previous"
                width="42"
                height="42"
              />
            </button>
            <button
              id="next"
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer ml-5 hover:bg-outline-gray select-none"
            >
              <img
                src="/static/assets/icons/next.png"
                alt="next"
                width="42"
                height="42"
              />
            </button>
            <button
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer ml-5 hover:bg-outline-gray select-none"
            >
              <img
                src="/static/assets/icons/shuffle-bold.png"
                alt="shuffle"
                width="50"
                height="50"
              />
            </button>
            <button
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer ml-5 hover:bg-outline-gray select-none"
            >
              <img
                src="/static/assets/icons/loop-bold.png"
                alt="loop"
                width="55"
                height="55"
              />
            </button>
            <button
              class="w-16 h-16 bg-white rounded-lg border-2 flex items-center justify-center cursor-pointer ml-5 hover:bg-outline-gray select-none"
            >
              <img
                src="/static/assets/icons/bin.png"
                alt="loop"
                width="48"
                height="48"
              />
            </button>
          </div>
        </div>
        <!-- playlist items -->
        <div
          id="playlist-items-container"
          class="bg-container-dark-blue border-4 relative rounded-lg row-start-3 col-start-2 col-span-2 row-span-1 overflow-y-scroll"
        >
          <div
            id="loader-container"
            class="absolute inset-0 flex items-center justify-center invisible"
          >
            <div class="loader w-[4rem] h-[4rem]"></div>
          </div>
          <ul id="playlist-items" class="flex flex-col pt-3"></ul>
        </div>
      </div>
    </div>
    <div id="add-playlist-modal" class="invisible">
      <div class="fixed w-full h-full top-0 left-0 bg-black/[.5]">
        <div class="fixed top-1/2 left-1/2 translate-center" tabindex="-1">
          <div
            class="w-[36rem] h-[23rem] bg-container-dark-blue border-4 rounded-lg"
          >
            <h2 class="text-white text-5xl font-bold pt-5 pl-16">
              Add Playlist
            </h2>
            <p class="text-white text-lg pt-7 ml-11">
              Input the playlist id of a Youtube playlist. This is the part
              after &apos;<i>www.youtube.com/playlist?list=</i>&apos; in the
              YouTube playlist url.
            </p>
            <div class="flex justify-center items-center">
              <div
                class="w-[30rem] h-14 bg-container-light-blue border-2 rounded flex justify-center mt-5"
              >
                <input
                  id="playlist-id-input"
                  class="w-[29rem] h-10 bg-white rounded flex justify-center mt-1.5 pl-3 text-xl"
                  placeholder="e.g. PLtcWcWdp-TofpVedRiMRoH7rB20gQczgh"
                />
              </div>
            </div>
            <div class="h-5 mt-1 ml-16">
              <p
                id="validation-message"
                class="text-cancel-red text-xl font-bold"
              ></p>
            </div>
            <div class="flex justify-center items-center mt-5">
              <button
                id="submit-playlist-button"
                class="w-36 h-14 bg-confirm-green border-2 rounded-lg text-3xl font-bold hover:bg-confirm-green-hover active:bg-confirm-green-active"
              >
                Add
              </button>
              <button
                id="close-add-playlist-modal-btn"
                class="w-36 h-14 bg-cancel-red border-2 rounded-lg text-3xl font-bold ml-16 hover:bg-cancel-red-hover active:bg-cancel-red-active"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="module" src="/static/js/playlist-items.js"></script>
    <script type="module" src="/static/js/youtube-embed.js"></script>
    <script type="module" src="/static/js/playlist-list.js"></script>
    <script type="module" src="/static/js/modal.js"></script>
    <script type="module" src="/static/js/playlist-operations.js"></script>
  </body>
</html>
