{{ block "playlist-list-item" . }}
<li id="li-{{ .PlaylistId }}" key="{{ .PlaylistId }}" class="mb-2">
  <option
    class="w-11/12 pl-2 pb-1 pt-1 pr-6 text-2xl text-left rounded-2xl cursor-pointer truncate text-white {{ if .Selected }} bg-warm-green-button {{ end }} hover:bg-warm-green-button-hover"
    title="{{ .PlaylistTitle }}"
  >
    {{ .PlaylistTitle }}
  </option>
</li>
<div
  hx-target="#playlist-description"
  hx-get="/set-playlist-description?playlist_id={{ .PlaylistId }}"
  hx-trigger="click from:#li-{{ .PlaylistId }}"
  hx-swap="outerHTML"
></div>
<div
  hx-target="#playlist-list-container"
  hx-get="/highlight-selected-playlist/{{ .PlaylistId }}"
  hx-trigger="click from:#li-{{ .PlaylistId }}"
  hx-swap="outerHTML"
></div>
<div
  hx-target="#playlist-items"
  hx-get="/populate-playlist-items/{{ .PlaylistId }}"
  hx-trigger="click from:#li-{{ .PlaylistId }}"
  hx-swap="outerHTML"
></div>
{{ end }}
