{{ block "playlist-list" .}}

<div
  id="playlist-list-container"
  class="bg-container-dark-blue min-w-[16rem] border-4 relative rounded-lg col-span-1 row-span-3 flex-none"
>
  <h2
    class="text-white text-4xl font-bold pl-5 pt-5 pb-5 inline-block truncate"
  >
    Playlists
  </h2>
  <ul id="playlist-list" class="pl-3 flex flex-col" ></ul>
    {{ range $index, $item := .PlaylistState }} {{ if ne $index 0 }} {{ template
    "playlist-list-item" $item }} {{ end }} {{ end }}
  </ul>
  <button
    class="absolute bottom-3 left-1/2 transform -translate-x-1/2 w-[14.75rem] h-11 rounded-lg border-2 flex bg-warm-green-button hover:bg-warm-green-button-hover active:bg-warm-green-button-active"
    hx-get="/toggle-add-playlist-modal"
    hx-target="#add-playlist-modal-container"
    hx-trigger="click"
    hx-swap="outerHTML"
  >
    <div
      class="w-10 h-10 bg-white rounded-lg border-2 flex items-center justify-center"
    >
      <img
        src="/static/assets/icons/plus.png"
        alt="add playlist"
        width="24"
        height="24"
      />
    </div>
    <div class="text-white text-3xl pl-3 pt-0.5">Add Playlist</div>
  </button>
</div>
{{ end }}
