package templates

templ PlaylistDescription() {
	<h2 class="h-[4rem] text-white text-5xl font-bold mt-4 ml-5 truncate">
		Test Playlist Title
	</h2>
	<p class="text-white text-4xl font-semibold mt-8 ml-5">
		Test Channel Owner
	</p>
	<p class="text-white text-4xl font-semibold mt-12 ml-5">
		Videos: 2 / 467
	</p>
}
