{{ block "playlist-list-item" . }}
<li id="li-{{ .PlaylistId }}" key="{{ .PlaylistId }}" class="mb-2">
  <option
    class="mr-3 pl-2 pr-2 pb-1 pt-1 text-2xl text-left rounded-2xl cursor-pointer truncate font-medium text-white {{ if .Selected }} bg-warm-orange {{ end }} hover:bg-warm-orange-hover"
    title="{{ .PlaylistTitle }}"
  >
    {{ .PlaylistTitle }}
  </option>
</li>
<div
  hx-target="#playlist-description"
  hx-get="/set-playlist-description/{{ .PlaylistId }}"
  hx-trigger="click from:#li-{{ .PlaylistId }}"
  hx-swap="outerHTML"
></div>
<div
  hx-target="#playlist-list-container"
  hx-get="/highlight-selected-playlist/{{ .PlaylistId }}"
  hx-trigger="click from:#li-{{ .PlaylistId }}"
  hx-swap="outerHTML"
></div>
<div
  hx-target="#playlist-items"
  hx-get="/populate-playlist-items/{{ .PlaylistId }}"
  hx-trigger="click from:#li-{{ .PlaylistId }}"
  hx-swap="outerHTML"
></div>
{{ end }}
