{{ block "youtube-embed" .}}
<div
  id="youtube-embed"
  class="bg-container-dark-blue border-4 relative rounded-lg col-span-1 row-span-2 pt-2 pr-2 pl-2 pb-2 min-w-[32.5rem]"
>
  <div class="w-full h-full bg-black grid place-items-center relative">
    {{ if .Selected }}
    <iframe
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/{{ .Id }}?autoplay=1"
      alt="{{ .Title }}"
      allow="fullscreen;"
    ></iframe>
    {{ else }}
    <img
      src="/static/assets/logos/jackematica-logo.svg"
      alt="page-logo"
      width="210"
      height="210"
    />
    {{ end}}
  </div>
</div>
{{end}}
